<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Order</h1>
    </div>    
    <form [formGroup]="orderForm"> 
    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">Thông tin người nhận</h2>
            <form>
                <div class="mb-3">
                    <label for="fullname" class="form-label">Họ và tên</label>
                    <input type="text"
                    formControlName="fullname"
                    class="form-control" id="fullname"
                    [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
                      <!-- <!> bỏ qua cảnh báo "Object is possibly 'null' or 'undefined'"  -->
                    <div
                    *ngIf="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched"
                    class="invalid-feedback">
                    Họ tên là trường bắt buộc.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email"  placeholder="Email"
                    [(ngModel)]="orderData.email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="number"
                    placeholder="Số điện thoại"
                    [(ngModel)]="orderData.phone_number" required class="form-control" id="phone">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Địa Chỉ</label>
                    <input type="text"
                    formControlName="address"
                    [(ngModel)]="orderData.address" class="form-control" id="address">
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Ghi Chú</label>
                    <input type="text"
                    placeholder="Ghi Chú"
                    [(ngModel)]="orderData.note" class="form-control" id="note">
                </div>
                <div class="form-group">
                    <label for="shippingMethod" class="form-label">Phương Thức Vận Chuyển</label>
                 <select class="form-control" id="shippingMethod" [(ngModel)]="orderData.shipping_method">
                    <option value="express">Nhanh</option>
                    <option value="normal">Thường</option>
                 </select>
                </div>
                <div class="form-group">
                    <label for="paymentMethod" class="form-label">Phương thức thanh toán</label>
                 <select class="form-control" id="paymentMethod" [(ngModel)]="orderData.payment_method">
                    <option value="cod">Thanh toán khi nhận hàng</option>
                    <option value="other">Thanh toán khác</option>
                 </select>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Tổng giá</th>
                      </tr>
                </thead>
                <tbody>
                    <!-- //để lặp qua mảng cartItems và hiển thị thông tin về từng sản phẩm trong giỏ hàng. -->
                    <ng-container *ngFor="let item of cartItems " >
                    <tr>
                        <td>
                            <div class="product-info">
                                <img 
                                [src]="item.product.thumbnail"
                                alt="Product Image" class="product-image">
                                <span class="product-name">{{item.product.name}}</span>
                            </div>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product.price | number: '1.2-2'}}</td>
                        <td>{{ (item.product.price * item.quantity) | number: '1.2-2'}} </td>
                    </tr>
                    
                </ng-container>
                </tbody>
            </table> 
            
         
    <div class="text-start mt-3">
        <h4 class="header-text text-end">Tổng tiền:{{totalAmount | number: '1.2-2'}} </h4>
    </div>
    <div class="mt-3">
        <div class="input-group"> 
        <input type="text" class="form-control" placeholder="Nhập Coupon">
        <button class="btn btn-gradient"  type="button">Áp dụng</button>
    </div>
    
    </div>
            <div class="text-center mt-3">
               <button class="btn btn-gradient" (click)="placeOrder()" type="button">Thanh Toán </button>
            </div> 
        </div>    
</div>
</form>
<app-footer></app-footer>
